@import '../../variables.scss';

.show-more-button_wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.show-more-button {
  border: none;
  background: none;
  outline: none;
  color: $dark-grey;
  font-size: 16px;
  font-weight: bold;
  font-family: $textRegular;
  cursor: pointer;
  transition: .5s all ease;
  position: relative;
}

.show-more-button:hover {
  transform: scale(1.1);
}

.show-more-button::after {
  content: "\A";
  border-style: solid;
  border-width: 5px 10px 5px 10px;
  border-color: transparent $dark-grey transparent transparent;
  position: absolute;
  right: -25px;
  top: 5px;
  transform: rotate(180deg);
}