@import '../../variables.scss';

.header-name {
  text-align: center;
  color: $red;
  font-family: $textBold;
  text-transform: uppercase;
  margin: 40px 0;
  font-size: 40px;
  
}

@media (max-width: 450px) {
  .header-name {
    font-size: 32px;
  }
}